# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# VS Code
.vscode/

# Linux
*~

# Build
dist/
build/
*.egg-info/

# Coverage
.coverage
htmlcov/